#notes_column, .notes {
  .note {
    padding: 2px !important;
    .name, .note-preview {
      display:inline !important;
    }
    .name {
      font-size:13px;
    }
    .note-preview {
      font-size: 12px !important;
      opacity:0.7;
    }
    max-height:1.5em;
    overflow: hidden;
  }
}

