#notes_column .note, .notes .note {
  .date {
    display:none;
  }
  .note {
    padding: 2px !important;
  }
  .name, .note-preview {
    display:inline !important;
  }
  .note-preview {
    font-size: 80%;
    opacity:0.8;
  }
}

/* Todo: Show date for selected note */
